CondominioSV-ejb/build/
CondominioSV-ejb/dist/*
CondominioSV-ejb/nbproject/
CondominioSV-ejb/build.xml
CondominioSV-war/build/
CondominioSV-war/dist/
CondominioSV-war/nbproject/
CondominioSV-war/build.xml
build/
dist/
nbproject/
build.xml
*.jar
*.war
*.class
*.ear
*.jar
*.war
*.ear
CondominioSV-ejb/build/generated-sources/ap-source-output/persistencia/Residente_.java
