<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>test5</display-name>
    <servlet>
        <servlet-name>CondominioSendaVistaServlet</servlet-name>
        <servlet-class>com.session.CondominioSendaVistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.session.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidenteServlet</servlet-name>
        <servlet-class>com.session.ResidenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarResidenteServlet</servlet-name>
        <servlet-class>com.session.BuscarResidenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarResidenteServlet</servlet-name>
        <servlet-class>com.session.EditarResidenteServlet</servlet-class>
    </servlet>
        <servlet-name>AdminDepartamentoServlet</servlet-name>
        <servlet-class>com.session.AdminDepartamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDepartamentoOperacionesBDServlet</servlet-name>
        <servlet-class>com.bd.AdminDepartamentoOperacionesBDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CondominioSendaVistaServlet</servlet-name>
        <url-pattern>/CondominioSendaVistaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidenteServlet</servlet-name>
        <url-pattern>/Residentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarResidenteServlet</servlet-name>
        <url-pattern>/BuscarResidenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarResidenteServlet</servlet-name>
        <url-pattern>/EditarResidenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDepartamentoServlet</servlet-name>
        <url-pattern>/Admin/Departamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDepartamentoOperacionesBDServlet</servlet-name>
        <url-pattern>/Admin/Departamento/OperacionesBD</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
